# SYSTEM APPLICATION CHECKS
# Managed by Ansible

# Check tenable nessus agent is installed and configured correctly
command[check_nessus_agent]=/opt/scripts/nagios/check_tenable_nessus_agent.sh

# Check SSL expiry
command[check_ssl_expiry]=/opt/scripts/nagios/check_ssl_expiry.sh $ARG1$ $ARG2$ $ARG3$ $ARGE4$

