# CHECKS PROVIDED BY nagios-plugins PACKAGES
# Managed by Ansible

# Configuration for check_disk (from the generic template)
command[check_disk]=/usr/lib64/nagios/plugins/check_disk -l -X binfmt_misc -X cgroup -X rpc_pipefs -X tracefs -w 15% -c 5%
# Configuration for check_load (from the generic template)
command[check_load]=/usr/lib64/nagios/plugins/check_load -w 15,10,10 -c 30,25,25
# Configuration for check_ntp_time (from the generic template)
command[check_ntp_time]=/usr/lib64/nagios/plugins/check_ntp_time -w 1 -c 2 -H ntp.mgt.internal.ausiex.com
# Configuration for check_swap (from the generic template)
command[check_swap]=/usr/lib64/nagios/plugins/check_swap -w 10% -c 2%
# Configuration for check_uptime (saxon did this)
command[check_uptime]=/usr/lib64/nagios/plugins/check_uptime -u days -w 90 -c 120
# Configuration for check_users (from the generic template)
command[check_users]=/usr/lib64/nagios/plugins/check_users -w 10 -c 20 -w 100 -c 200
# Configuration for check_dns (from the generic template)
command[check_dns]=/usr/lib64/nagios/plugins/check_dns -H $ARG1$
# Configuration for check_dns (from the generic template)
command[check_procs]=/usr/lib64/nagios/plugins/check_procs -w $ARG1$ -c $ARG2$ -C $ARG3$

# CHECKS USING CUSTOM SCRIPTS

# Configuration for check_conntrack (from the generic template)
command[check_conntrack]=/opt/scripts/nagios/check_conntrack 75% 90%
# Configuration for check_cpu (from the generic template)
command[check_cpu]=/opt/scripts/nagios/check_cpu -w 10 -c 5
# Configuration for check_ram (from the generic template)
command[check_ram]=/opt/scripts/nagios/check_ram -w 10% -c 5%
# Configuration for check_uptime_low (checks low uptime - opposite of check_uptime)
command[check_uptime_low]=/opt/scripts/nagios/check_uptime_low.sh 1440 120
# Check if selinux is active and enforcing
command[check_selinux]=/opt/scripts/nagios/check_selinux.sh

