[defaults]
host_key_checking = false
retry_files_enabled = False
vault_password_file = ~/.ansible-vault
gather_timeout = 30
gather_subset = min
gathering = explicit
#ask_vault_pass = true
#ask_pass = true
become_user = `echo $USER`
interpreter_python=auto

# default is 5
forks=30

[privilege_escalation]
#become_ask_pass = true



[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=1200
